
<div class="container">

    <div class="message" *ngIf="message">
        {{ message }}
    </div>

    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>

            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="email-input">Email</label>
                    <input id="email-input" type="text" name="email"
                            [(ngModel)]="model.email" #username="ngModel"
                            placeholder="Enter your email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password-input">Password</label>
                    <input id="password-input" type="password" name="password"
                            [(ngModel)]="model.password" placeholder="Enter your password"
                            class="form-control" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
                <div class="link-holder">
                    <p>Dont have an account? <a [routerLink]="['/auth/register']"
                      class="btn btn-link">Register</a> - <a href="#">Forgot Password</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
