<div class="register-form-holder">

    <div>
        <h3>Register</h3>
    </div>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="name-input">Name</label>
            <input id="name-input" type="text" name="name" class="form-control" [(ngModel)]="model.name" #name="ngModel" required>
        </div>
        <div class="form-group">
            <label for="email-input">Email</label>
            <input id="email-input" type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" required>
        </div>
        <div class="form-group">
            <label for="password-input">Password</label>
            <input id="password-input" type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="link-holder">
            <p>Already have an account? <a [routerLink]="['/auth/login']">Log In</a></p>
        </div>
    </form>
</div>