<app-navbar></app-navbar>
<div class="wrapper">
    <div class="jumbotron bg-faded text-center">
        <p class="text-muted">Have something you wish to do before you pass on. Let's make those dreams come true.</p>
    </div>

    <section *ngIf="bucketlists" class="container">
        <div class="bucketholder">
            <div class="row">
                <div *ngFor="let bucket of bucketlists" (click)="openModal('bucketItem', bucket)" class="col-lg-3 col-md-4 col-sm-6 col-xm-12 well circle content carousel slide"
                    data-toggle="tooltip" title="Bucket List One">
                    <img src="./../../../assets/images/bucket-main.jpg" class="img-responsive img-circle">
                    <div class="carousel-caption">
                        {{ bucket.id }}
                        <input (click)="onEvent($event)" class="edit-bucket form-control text-default"
                            type="text" [attr.value]="bucket.name" disabled="disabled" required/>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="openModal('input', 'update'); onEvent($event)"
                                type="button" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button (click)="openModal('confirmation', 'delete'); onEvent($event)"
                                type="button" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="footer-bar">
        <div class="custom-pagination">
            <app-paginate [pages]="pages" (page)="getPage($event)"></app-paginate>
        </div>
        <button (click)="openModal('input', 'add')" class="btn btn-primary add-button">+ Add Bucketlist</button>
    </div>
</div>

<app-bucket-items-modal
    *ngIf="showBucketItemModal"
    [bucket]="modalBucket" (close)="closeModal($event, 'bucketItem')">
</app-bucket-items-modal>

<app-confirmation-modals 
    *ngIf="showConfirmationModal" (close)="closeModal($event, 'confirmation')"
    [type]="modalType" [item]="modalItem">
</app-confirmation-modals>

<app-input-modals
    *ngIf="showInputModal" [type]="modalType"
    [item]="'bucket'" [label]="'Name'" (close)="closeModal($event, 'input')">
</app-input-modals>
