body {
    padding: 20px;
    background: #e2e2e2;
    position: relative;
}

.bucketlists-holder {
    margin: 5px auto;
}

.bucket-holder {
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 2px;
}

.bucket-holder:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.close {
    float: right;
}

.demo-card-square.mdl-card {
    width: 300px;
    height: 200px;
    float: left;
    margin: 1rem;
    position: relative;
}

.demo-card-square.mdl-card:hover {
    transform: scale(0.96);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14),
     0 3px 14px 2px rgba(0, 0, 0, .12),
     0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: #03a9f4;
}

.demo-card-square > .mdl-card__accent {
    background: #ff9800;
}

.add-button {
    z-index:1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: 1px solid #5facef;
    border-radius: 40px;
    background: #5facef;
}

.add-button:hover {
    transform: scale(1.1);
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

#add-button {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    height: 40px;
    width: 40px;
    margin: 10px;
    color: white;
}

modal {
    /* modals are hidden by default */
    display: none;
}

.custom-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .modal-background */
    z-index: 1000;
    
    /* enables scrolling for tall modals */
    overflow: auto;
}

.custom-modal-body {
    padding: 20px;
    background: #fff;

    /* margin exposes part of the modal background */
    margin: 20%;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .modal and above everything else  */
    z-index: 900;
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}


#paginate {
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#paginate div ul li{
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
