/*body {
	height: 100vh;
	background-color: #e3ede5;
	background-image: url(https://www.shareicon.net/data/2015/10/02/649720_write_512x512.png);
	background-image: url(http://2.bp.blogspot.com/-SFJ9TeAMzdk/TkAn0lUul7I/AAAAAAAAAEQ/G_oBYPgPd2w/s1600/dirt_3_2011_game-1280x720.jpg);
	background-size: cover;
	background-blend-mode: darken;
}
*/

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	overflow: scroll;
}