<div class="bucket-detail-holder">
    <div class="bucket-name-holder">
        <h4 class="title">{{ bucket.name }}</h4>
        <button class="close" (click)="close(false)">x</button>
    </div>
    <div class="bucket-items-holder">
        <ol>
            <li *ngFor="let item of bucket.items">
                <span class="item-title">{{ item.name }}</span>
                <span class="item-tools">
                  <a class="tool edit"><i class="fa fa-pencil-square-o"></i></a>
                  <a class="tool delete"><i class="fa fa-trash-o"></i></a>
                </span>
            </li>
        </ol>
    </div>
</div>