<div>
    <p>Welcome</p>
    <p>
        Your bucketlists
    </p>
    <div *ngIf="bucketlists" class="row bucketlists-holder">
        <div *ngFor="let bucket of bucketlists" (click)="onSelect(bucket)" class="card col-xs-3 bucket-holder">
            <div class="card-block">
                <h4 class="card-title">{{ bucket.id }}. {{ bucket.name }}</h4>
                <p class="card-text">{{ bucket.date_created}}</p>
                <p class="card-text">Items: {{ bucket.items.length }}</p>
            </div>
        </div>
        <div (click)="addBucket()" class="card col-xs-3 bucket-holder">
            <p class="card-text">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </p>
        </div>
    </div>

    <div *ngIf="clicked">
        <app-bucketlist-items [bucket]="selectedBucket"></app-bucketlist-items>
    </div>
</div>
