.bucketlists-holder {
    margin: 5px auto;
}

.bucket-holder {
    margin: 10px;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 2px;
}

.bucket-holder:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}