/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
}

.loading {
	text-align: center;
	margin-top: 50vh;
}

.add-button {
    float: right;
}

.title {
    text-transform: uppercase;
    color: blue;
    font-family: Geneva, Tahoma, sans-serif, Verdana;
    font-weight: bold;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  