<button class="back-button" (click)="goBack()"><i class="fa fa-arrow-circle-left"></i></button>

<div class="row" *ngIf="bucket">
    <h2> {{ bucket.name }} </h2>
    <div class="col-md-10 col-md-offset-2" id="items-holder" *ngFor="let item of bucket.items">
        <div class="item-container">
            <div class="item-holder">
                <a href="#">{{ item.name }}</a>
            </div>
            <div class="done-holder">
                <label for="done">Done</label>
                <input type="checkbox" name="done" id="done">
            </div>
            <div class="tools">
                <a (click)="update()" class="tool edit"><i class="fa fa-pencil-square-o"></i></a>
                <a (click)="delete(bucket.id, item.id)" class="tool delete"><i class="fa fa-trash-o"></i></a>
            </div>
        </div>
    </div>
</div>

<ng-template #empty_bucketlist></ng-template>
